@use './normalize';
@use './reset';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: norse;
  src: url('../fonts/Norse-Bold.otf');
}

$credit-color: #ddd;
$bg-color: #000;
$main-ctr-color: #fff;
$logo-bg-color: #00000099;
$brand-color: #fff;
$main-ctr-width: 90rem;
$form-section-bg-color: #f9fafb;
$submit-btn-bg-color: #596d48;
$h1-color: #2f2f2f;
$h2-color: #333;
$input-border-colo: #e5e7eb;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: $bg-color;
}

.main-ctr {
  min-height: 100vh;
  max-width: $main-ctr-width;
  margin-inline: auto;
  display: flex;
  background-color: $main-ctr-color;

  & > .left {
    flex: 1;
  }

  & > .right {
    flex: 3;
  }

  @media screen and (max-width: calc(800 / 16 * 1em)) {
    flex-direction: column;

    & > .left {
      width: 100%;
      flex-basis: 100vh;
    }
  }
}

.img-ctr {
  background: linear-gradient(#00000032, #00000032), url('../images/bg-img.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-brand {
    position: absolute;
    top: 30%;
    width: 100%;
    transform: translate(0, -30%);

    background-color: $logo-bg-color;

    padding: 1rem;

    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;

    .logo {
      width: 5.4rem;
    }

    .brand {
      font-size: 6.4rem;
      font-family: 'norse';
      text-transform: uppercase;
      color: $brand-color;
    }
  }

  .img-credit {
    margin-top: auto;
    margin-bottom: 1.2rem;
    color: $credit-color;
    font-size: 1rem;
    font-weight: 300;

    a {
      color: inherit;
    }
  }
}

.form-section {
  $lr-padding: 3.6rem;

  background-color: $form-section-bg-color;
  padding: 1.8rem $lr-padding;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    color: $h1-color;
    line-height: 1.3;
  }

  & > p {
    font-size: 1.6rem;
    font-weight: 600;
    color: $h1-color;

    margin-bottom: 3.2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    h2 {
      margin-bottom: 2.4rem;
      color: $h2-color;
    }

    .form-inputs-section {
      margin-left: -$lr-padding;
      margin-right: -$lr-padding;
      padding: 1.8rem $lr-padding;
      background-color: #fff;
      box-shadow: 0 8px 8px #0000001a;

      .form-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem 9%;

        @media screen and (max-width: calc(800 / 16 * 1em)) {
          grid-template-columns: 1fr;
        }

        .label-input {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          label {
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 1px;
            font-weight: 600;
            color: #444;
          }

          input {
            border: 1px solid $input-border-colo;
            padding: 0.8rem 1.4rem;
            border-radius: 0.5rem;
            font-size: 1.6rem;

            &:focus {
              outline-color: royalblue;
              border-color: royalblue;
            }

            &:invalid:not(:placeholder-shown) {
              border-color: tomato;
            }
          }
        }
      }
    }

    button[type='submit'] {
      padding: 1.2rem 3.6rem;
      border-radius: 0.8rem;
      background-color: $submit-btn-bg-color;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: capitalize;
      align-self: start;
    }

    .login-remainder {
      font-size: 1.6rem;
      color: #000;

      a {
        color: $submit-btn-bg-color;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
